#journal-read table tbody:nth-of-type(odd) {
    background-color: #f9f9f9;
}

#journal-group .journal-date,
#journal-group .journal-label,
#journal-group-swal .h4 {
    font-weight: bold;
    font-family: Menlo, Consolas, Monaco, monospace;
}

#journal-group-swal {
    font-size: 14px;
}

#journal-group-swal dt,
#journal-group-swal dd {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
