#writings-import-preview #scroll-area {
    height: calc(100vh - 340px);
    overflow: auto;
    margin-bottom: 0;
}
#divergent-writing-list .nav-tabs li {
    font-size: 16px;
}

#writings-import-form .help .help-text {
    font-size: 20px;
    font-weight: bold;
    font-family: "Lato Light";
    font-style: italic;
}

#writings-import-form .fa-reply {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1, mirror=1);
    -webkit-transform: scale(-1, 1) rotate(90deg);
    -ms-transform: scale(-1, 1) rotate(90deg);
    transform: scale(-1, 1) rotate(90deg);
    margin-left: 50px;
}

.global-writings-actions {
    min-height: 45px;
    margin-bottom: 10px;
}

.global-writings-actions .filters {
    display: inline-block;
}

.global-writings-actions .filters .tag {
    display: inline-block;
}

.global-writings-actions .tag {
    font-size: 100%;
    margin: 0 5px 5px 0;
}

.global-writings-actions .tag:hover {
    cursor: pointer;
    background-color: #5cb85c;
}
