<template name="navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand {{isActive route='home'}}" href="{{pathFor 'home'}}">Bookkeeper</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown {{isActive route='writingList'}}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Écritures <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="{{isActive route='writingList'}}"><a href="{{pathFor 'writingList'}}">Liste des écritures</a></li>
                            <li class="{{isActive route='writingCreate'}}"><a href="{{pathFor 'writingCreate'}}">Ajouter une écriture</a></li>
                            <li class="divider"></li>
                            <li class="{{isActive route='writingsImport'}}"><a href="{{pathFor 'home'}}">Importer un fichier</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {{isActive route='accountList'}}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Comptes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="{{isActive route='accountList'}}"><a href="{{pathFor 'accountList'}}">Liste des comptes</a></li>
                            <li class="{{isActive route='fiscalAccountList'}}"><a href="{{pathFor 'fiscalAccountList'}}">Liste des comptes fiscaux</a></li>
                        </ul>
                    </li>
                    <li class="{{isActive route='journalList'}}"><a href="{{pathFor 'journalList'}}">Journaux</a></li>
                    <li class="{{isActive path='/stepper/2'}}"><a href="{{pathFor 'stepper' step='2'}}">{{_ 'navbar.differences.text' count=(getPublishedCount 'divergentWritings')}} {{#if hasPublishedCount 'divergentWritings'}}({{getPublishedCount 'divergentWritings'}}){{/if}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Comptabilité <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="{{isActive route='balanceSheetRead'}}"><a href="{{pathFor 'balanceSheetRead'}}">Effectuer le bilan</a></li>
                            <li class="{{isActive route='incomeStatementRead'}}"><a href="{{pathFor 'incomeStatementRead'}}">Effectuer le compte de résultat</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fiscalité <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="{{isActive path='/balance-sheet/fiscal'}}"><a href="{{pathFor 'balanceSheetRead' mode='fiscal'}}">Effectuer le bilan</a></li>
                            <li class="{{isActive path='/income-statement/fiscal'}}"><a href="{{pathFor 'incomeStatementRead' mode='fiscal'}}">Effectuer le compte de résultat</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
